# ==================================================
# PYTHON
# ==================================================

__pycache__/
*.py[cod]
*.pyo
*.pyd

# ==================================================
# Virtual Environment
# ==================================================

.venv/
venv/
env/

# ==================================================
# VS CODE
# ==================================================

.vscode/
.idea/

# ==================================================
# ENV
# ==================================================

.env

# ==================================================
# OUTPUT
# ==================================================

output/

# ==================================================
# CACHE
# ==================================================

.pytest_cache/
.mypy_cache/

# ==================================================
# Jupyter
# ==================================================

.ipynb_checkpoints/

# ==================================================
# Node
# ==================================================

node_modules/

# ==================================================
# OS
# ==================================================

Thumbs.db
Desktop.ini
.DS_Store

# ==================================================
# RAW DATASET (opsional)
# ==================================================

dataset/raw/

# ==================================================
# MODEL
# ==================================================

model/best_model/
model/best_model_backup/
# tokenizer kecil → tetap upload
# label encoder → tetap upload

# ==================================================
# LOG
# ==================================================

*.log
*.safetensors
*.bin