torch==2.7.1
transformers==5.13.0

accelerate
datasets
evaluate

fastapi
uvicorn

pydantic

numpy
pandas

matplotlib
scikit-learn

Sastrawi

emoji
clean-text
langdetect

sentencepiece

tqdm

joblib

openpyxl

wordcloud

requests

python-multipart

httpx

jupyter